body{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    gap: 2rem;
    width: 50%;
    background-color: whitesmoke;
}
.submit{
    border: 1px solid black;
    width: fit-content;
    display: flex;
    justify-content: start;
    gap: 2rem;
    padding: 1rem;
    height: max-content;
    align-items: flex-start;
}
button{
    border: 2px solid black;
    background-color: blue;
    width:auto ;
    height:auto ;
    border-radius: 3em;
}
.main h1{
    border: 1px solid black;
    background-color: #c4c4c4;
    width: 100%;
    top: 0%;
    margin: 0;
    
}
.limpar{
    border: 1px solid black;
    background-color: orangered;
    width:auto ;
    height:auto ;
    border-radius: 3em;
}
.editar{
    border: 1px solid black;
    background-color: salmon;
    width:auto ;
    height:auto ;
    border-radius: 3em;
}